Repository miniupnp/miniupnp, pull requests merged in 2024-03, with the labels that each got.

#711 NFTables: Add backwards compatibility for seperate IPv4 and IPv6 tables
  miniupnpd/commonrdr.h
  miniupnpd/miniupnpd.c
  miniupnpd/miniupnpd.conf
  miniupnpd/netfilter_nft/README.md
  miniupnpd/netfilter_nft/nftnlrdr.c
  miniupnpd/netfilter_nft/nftnlrdr_misc.c
  miniupnpd/netfilter_nft/nftnlrdr_misc.h
  miniupnpd/netfilter_nft/nftpinhole.c
  miniupnpd/options.c
  miniupnpd/options.h
Labels: miniupnpd, netfilter_nftables

#672 fixes of NFTABLES pinout support
  miniupnpd/Changelog.txt
  miniupnpd/netfilter_nft/Makefile
  miniupnpd/netfilter_nft/nftnlrdr.c
  miniupnpd/netfilter_nft/nftnlrdr_misc.c
  miniupnpd/netfilter_nft/nftnlrdr_misc.h
  miniupnpd/netfilter_nft/nftpinhole.c
  miniupnpd/netfilter_nft/testnftnlrdr.c
  miniupnpd/netfilter_nft/testnftpinhole.c
Labels: miniupnpd, linux, netfilter_nftables

#721 build: add MINIUPNPC_GET_SRC_ADDR to CMake build
  miniupnpc/CMakeLists.txt
Labels: miniupnpc, build
